* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #fff1f2;
}

.nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-bar ul{
    list-style: none;
    background-color: #ffe4e6;
    align-items: center;
}

.nav-bar > ul {
    padding: 0 80px;
    display: flex;
}

.nav-bar a[href] {
    padding: 20px;
    height: 100%;
    display: block;
    text-decoration: none;
    color: black;
}

.nav-bar a[href]:hover {
    background-color: #fda4af;
}

#nav-name{
    margin-left: auto;
    margin-right: 20px;
}

.nav-bar li > .dropdown{
    display: none;
    position: absolute;
}
.nav-bar li:hover > .dropdown{
    display: block;
}
#main {
    margin: 75px 0;
}
.search-box form {
    display: flex;
}

.search-box input {
    width: 100%;
    padding: 10px 20px;
    flex: 1 1;
    border: 0;
}

.search-box button[type=submit] {
    padding: 10px 20px;
    border: 0;
    background-color: #f43f5e;
    color: #fff1f2;
    cursor: pointer;
}

.search-box button[type=submit]:hover {
    background-color: #e11d48;
}

.center-container {
    width: 1000px;
    margin: 0 auto;
}