* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #fff7ed;
  border: 1px solid;
  width: 500px;
  height: 350px;
  margin: 20px auto;
}

.container {
  width: 300px;
  margin: 10px auto;
}

.container h1 {
  text-align: center;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: light;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 5px;
}
.btn button {
  font-size: 17px;
  border: 2px solid;
  border-radius: 7px;
  width: 100%;
  margin-bottom: 15px;
}
.btn a {
  text-decoration: none;
  color: black;
}
.forget {
  margin-top: 15px;
}
.forget a {
  color: black;
  text-decoration: none;
}
