*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: #fff7ed;
    border: 1px solid;
    width: 500px;
    height: 570px;
    margin: 5px auto;
}
.nav{
    width: 300px;
    margin: 5px auto;
}
h1{
    text-align: center;
    margin: 20px 0 10px 0;
}
.form{
    margin-bottom: 5px;
}
.form label{
    font-weight: light;
}
.form input{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}
.gender{
    margin-bottom: 5px;
}
.form-acc input{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 7px;
    margin-bottom: 15px;
}
.btn button{
    font-size: 17px;
    border: 2px solid;
    border-radius: 7px;
    width: 100%;
    margin-bottom: 15px;
}