*{
    margin: 0;
    padding: 0;
}
.main-listborrow-table > h1{
    text-align: center;
    margin: 10px auto;
    text-transform: uppercase;
}
.main-listborrow-table a{
    text-decoration: none;
    color: black;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 9px 10px;
}
.main-listborrow-table table{
    border-top: 1px solid black;
    width: 100%;
    border-collapse: collapse; /* làm mất khung */
    
}
.main-listborrow-table th{
    /* border-bottom: 1px solid; */
    padding: 10px;
    background-color: white;
    
}
.main-listborrow-table td{
    text-align: center;
    background-color: #d1d5db;
    padding: 10px 20px;
}

.main-listborrow-table td > a {
    display: inline-block;
}