*{
    margin: 0;
    padding: 0;
}
.main-listsach-table > h1{
    text-align: center;
    margin: 10px auto;
    text-transform: uppercase;
}
.main-listsach-table table{
    border-top: 1px solid black;
    width: 100%;
    border-collapse: collapse; /* làm mất khung */
}
.main-listsach-table td{
    text-align: center;
    padding: 10px 20px;
}

.main-listsach-table tr {
    background-color: #f3f4f6;
}

.main-listsach-table th{
    padding: 10px;
    background-color: #d1d5db;   
}

.main-listsach-table tr:nth-child(even) {
    background-color: #e5e7eb;
}

.main-listsach-table tr:hover {
    background-color: #d1d5db;
}

.main-listsach-table table a,
.main-listsach-table table button {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: black;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 9px 10px;
    cursor: pointer;
    background-color: transparent;
}

.main-listsach-table table a:hover,
.main-listsach-table table button:hover {
    background-color: white;
}

.main-listsach-table .txtStatusBorrowed {
    color: blue;
    font-weight: bold;
}

.main-listsach-table .txtStatusPreordered {
    color: brown;
    font-weight: bold;
}