*{
    margin: 0;
    padding: 0;
}
.main_table > h1{
    text-align: center;
    margin: 10px auto;
    text-transform: uppercase;
}
.main_table a{
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 9px 10px;
}
.main_table table{
    width: 1100px;
    margin :0 auto;
    border-collapse: collapse; /* làm mất khung */
    
}
.main_table th{
    border-bottom: 1px solid;
    height: 70px;
    background-color: white;
    
}
.main_table td{
    text-align: center;
    height: 40px;
    /* border-bottom: 1px solid; */
    padding-top: 20px;
    background-color: #d1d5db;
    
}